# Insert here the files/folders/extensions you would like to exclude from git tracking 

.DS_Store
.project
/target/
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.classpath
